<VirtualHost *:80>

  ServerName {{ item.host }}
  DocumentRoot {{ www_root }}/{{ item.host }}/html

  ErrorLog {{ www_root }}/{{ item.host }}/log/error.log
  CustomLog {{ www_root }}/{{ item.host }}/log/access.log common

  <Directory {{ www_root }}/{{ item.host }}/html>
    DirectoryIndex index.html index.htm index.php index.newsite.html
    AllowOverride {{ item.allowoverride | default("None") }}
    Options {{ item.options | default("Indexes") }}
  </Directory>

</VirtualHost>
