<VirtualHost *:80>
	# The ServerName directive sets the request scheme, hostname and port that
	# the server uses to identify itself. This is used when creating
	# redirection URLs. In the context of virtual hosts, the ServerName
	# specifies what hostname must appear in the request's Host: header to
	# match this virtual host. For the default virtual host (this file) this
	# value is not decisive as it is used as a last resort host regardless.
	# However, you must set it for any further virtual host explicitly.
	#ServerName www.example.com

	DocumentRoot {{ www_root }}/html

	# Available loglevels: trace8, ..., trace1, debug, info, notice, warn,
	# error, crit, alert, emerg.
	# It is also possible to configure the loglevel for particular
	# modules, e.g.
	#LogLevel info ssl:warn

	ErrorLog {{ www_root }}/log/error.log
	CustomLog {{ www_root }}/log/access.log combined

	# Pass all requests for .php files to the PHP FastCGI process manager
	# via TCP using the ProxyPassMatch directive from Apache's proxy_fcgi module.
	#
	# TCP is used since Apache 2.4 doesn not support using Unix sockets, hence
	# php-fpm must be configured to listen to 127.0.0.1:9000 for proxying

	#ProxyPassMatch ^/(.*\.php(/.*)?)$ fcgi://localhost:9000/{{ www_root }}/html/$1

	# For most configuration files from conf-available/, which are
	# enabled or disabled at a global level, it is possible to
	# include a line for only one particular virtual host. For example the
	# following line enables the CGI configuration for this host only
	# after it has been globally disabled with "a2disconf".
	#Include conf-available/serve-cgi-bin.conf
</VirtualHost>
