[Unit]
Description=Avahi Aliases

[Service]
Type=simple
ExecStart=/usr/sbin/avahi-alias

[Install]
Wants=avahi-daemon.service
WantedBy=multi-user.target
